[flake8]
max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcfn_exclude_functions =
    json,
    subprocess,
    add_to_assignees,
    re,
    add_to_labels,

enable-extensions =
    FCFN,
